@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.slideshow__item {
    display: none;
}

img {vertical-align: middle;
}

header{
    width: 100%;
    height: 80px;
    background-color: #80b435;
    .top-nav{
        width: 74%;
        margin: 0 13%;
        height: 100%;
        display: flex;
        color: white;
        z-index: 1;
        position: relative;
        .logo{
            width: 20%;
            margin-top: .5rem;
        }
        .menu{
            width: 70%;
            ul{
                display: flex;
                padding: 2rem 1rem 2rem 8rem;
                li{
                    margin-left: 1rem;
                    font-size: 14px;
                }
            }
            .cancel{
                display: none;
            }
        }
        .mobile-menu{
            display: none;
        }
        .search{
            width: 5%;
            i{
                padding:2rem 0.5rem;
                cursor: pointer;
            }
            .search__box{
                width: 180px;
                height: 30px;
                display: none;
                z-index: 10;
                position: absolute;
                top: 50px;
                right: -75px;
                form{
                    width: 100%;
                    height: 100%;
                    input{
                        width: 100%;
                        height: 100%;
                        outline: none;
                        
                    }
                    
                }
            }
        }
        .cart{
            width: 5%;
            a{
                width: 100%;
                display: flex;
                i{
                    padding: 2rem .5rem;
                }
                .cart__item{
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    margin: 1rem -0.5rem;
                    background-color: black;
                    span{
                        margin-left: 0.3rem;
                        font-size: 12px 13px;
                    }
                }
            }
            
        }
    }
}

.breadcrumb{
    width: 100%;
    height: 220px;
    margin-top: -4px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    .breadcrumb__detail{
        width: 300px;
        height: 50px;
        position: absolute;
        margin: -9rem 38rem;
        color: white;
        display: flex;
        padding: 1rem;
        i{
            margin-right: .8rem;
            
        }
        li+li:before {
            padding: 8px;
            font-family: FontAwesome;
            content: "\f105";
            //text-transform: lowercase;
        }
    }
}

.slideshow {
    position: relative;
    margin: auto;
    width: 100%;
    height: 517px;
    .slideshow__item{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
        .text {
            color: #f2f2f2;
            font-size: 4rem;
            padding: 8px 12px;
            position: absolute;
            top: 10rem;
            left: 33rem;
            width: 450px;
            height: 130px;
            text-align: center;
            z-index: 1;
            background-color: #e8802b;
            opacity: 0.8;
        }
    }
    .navi{
        z-index: 3;
        position: absolute;
        bottom: 2rem;
        left: 46rem;
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: rgb(252, 249, 249);
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .active {
            background-color: #161212;
        }
    }
    
    
    .--fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
        
     @-webkit-keyframes --fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
        
    @keyframes --fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
        
     /* On smaller screens, decrease text size */
     @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
    }  
}

main{
    width: 100%;
    .category{
        width: 74%;
        height: 316px;
        margin: 1% 13%;
        display: flex;
        .category__item{
            width: 343px;
            height: 250px;
            margin: 2rem 1rem;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .border{
                top: 2rem;
                z-index: 3;
                width: 130px;
                height: 50px;
                border: 2px solid white;
                margin: 4rem 7rem;
                position: absolute;
                .__infoCategory{
                    width: 90%;
                    height: 80%;
                    background-color: white;
                    margin: .3rem .4rem;
                    text-align: center;
                    padding: .5rem 0;
                    p{
                        color: #161212 !important;
                    }
                }

            }
        }
    }

    .new-products{
        width: 100%;
        height: 600px;
        background-color: #80b435;
        .new-products__title{
            width: 400px;
            height: 150px;
            text-align: center;
            margin: 1rem 35rem;
            font-size: 1.8rem;
            padding-top: 4rem;
            h2{
                color: white;
                margin-bottom: .5rem;
            }
        }
        #new-products__details{
            width: 100%;
            height: 434px;
            position: relative;
            .MS-content{
                width: 74%;
                height: 400px;
                margin: 15px 13%;
                overflow: hidden;
                white-space: nowrap;
                .item{
                    display: inline-block;
                    width: 250px;
                    height: 350px;
                    margin: 1.5rem 1rem;
                    overflow: hidden;
                    position: relative;
                    vertical-align: top;
                    background-color: white;
                    img{
                        width: 100%;
                        height: 70%;
                    }
                    .item__info{
                        border-top: 1px solid black;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        h2{
                            font-weight: bold;
                            font-size: 18px;
                            font-family: 'Roboto', sans-serif;
                            margin-bottom: 5px;
                        }
                        span{
                            margin-bottom: 5px;
                        }
                        a{
                            color: red;
                        }
                    }
                }
            }
            .MS-controls{
                .MS-left{
                    position: absolute;
                    top: 11rem;
                    right: 12rem;
                    width: 30px;
                    height: 35px;
                    border: 1px solid rgb(175, 173, 173);
                    background-color: white;
                    cursor: pointer;
                    i{
                        font-size: 0.8rem;
                    }
                }
                .MS-right{
                    position: absolute;
                    top: 11rem;
                    left: 12.3rem;
                    width: 30px;
                    height: 35px;
                    border: 1px solid rgb(175, 173, 173);
                    background-color: white;
                    cursor: pointer;
                    i{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .handbook{
        width: 100%;
        height: 600px;
        .handbook__title{
            width: 400px;
            height: 150px;
            text-align: center;
            margin: 1rem 35rem;
            font-size: 1.8rem;
            padding-top: 4rem;
            h2{
                margin-bottom: .5rem;
            }
        }
        .handbook__details{
            width: 74%;
            height: 417px;
            position: relative;
            display: flex;
            margin: 1rem 13%;
            .__items{
                width: 342px;
                height: 390px;
                margin: 1rem;
                img{
                    width: 100%;
                    height: 60%;
                }
                .__itemInfo{
                    h2{
                        font-weight: bold;
                        font-size: 16px;
                        font-family: 'Roboto', sans-serif;
                        margin: 15px 0;
                        color: #161212 !important;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .product-title{
        width: 74%;
        height: 150px;
        display: flex;
        margin: 0 13%;
        .product-title__name{
            width: 50%;
            height: 100%;
            padding: 3.5rem .8rem;
            span{
                font-size: 1.8rem;
            }
        }
        .product-title__filter{
            width: 50%;
            height: 100%;
            .__box-filter{
                width: 280px;
                height: 40px;
                margin: 3rem 0 3rem 17rem;
                display: flex;
                #filter{
                    width: 80%;
                    height: 100%;
                    border: .1px solid #d7d7d7;
                    outline: none;
                }
                button{
                    width: 20%;
                    height: 100%;
                    background-color: #d7d7d7;   
                    border: none;      
                    cursor: pointer;
                }
            }
        }
    }

    .product-detail{
        width: 74%;
        height: 1111px;
        margin: 0 13%;
        .product-detail__list-item{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 20px;
            padding: 10px;
            .__items{
                width: 260px;
                height: 350px;
                border: .1px solid #b7b7b7;
                img{
                    width: 100%;
                    height: 70%;
                }
                .item__info{
                    border-top: .1px solid #b7b7b7;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h2{
                        font-weight: bold;
                        font-size: 16px;
                        font-family: 'Roboto', sans-serif;
                        margin: 15px 0 10px 0;
                    }
                    span{
                        margin-bottom: 10px;
                    }
                    a{
                        color: red;
                    }
                }
            }
        }
    }

    .pagenavi{
        width: 74%;
        height: 100px;
        margin: 0 13%;
        display: flex;
        justify-content: center;
        .pagenavi__item{
            width: 50%;
            display: flex;
            justify-content: center;
            height: 43px;
            .page-numbers{ 
                font-size: 15px;
                background-color:#c50808;
                margin: .5rem .2rem;
                text-align: center;
                padding: 5px 10px 5px 10px;
                cursor: pointer;
            }
            .dots{
                background-color: white;
                color: black;
            }
            
            span{
                color: white;
            }
        }
    }

    .detail-product{
        width: 74%;
        height: auto;
        margin: 0 13%;
        display: flex;
        .detail-product__contents{
            width: 68%;
            height: auto;
            margin: 1rem 0;
            .__product-content{
                width: 100%;
                height: 510px;
                display: flex;
                padding: 1rem 0rem;
                .product__image{
                    width: 55%;
                    border: .1px solid #b7b7b7;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .product__action{
                    width: 45%;
                    padding: 1rem;
                    .__rate{
                        font-size: 20px;
                        color: yellow;
                        margin-bottom: 1rem;
                    }
                    .__title{
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }
                    .__code-product{
                        font-size: 15px;
                        margin-bottom: 1rem;
                    }
                    .__price{
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 1.5rem;
                    }
                    .__descshort{
                        border: .1px dashed #b7b7b7;
                        margin-bottom: 2rem;
                        line-height: 1.5;
                        text-align: justify;
                        padding: .5rem;
                    }
                    .__btn-addCart{
                        button{
                            width: 160px;
                            height: 40px;
                            background-color: #55a007;
                            color: white;
                            border: none;
                            border-radius: 2px;
                        }
                        
                    }
                }
            }
            .__product-info{
                height: auto;
                width: 100%;
                padding-bottom: 2rem;
                h2{
                    font-size: 20px;
                    font-weight: bold;
                    margin: 25px 0;
                }
                p,li{
                    font-size: 15px;
                    line-height: 1.8;
                    margin-bottom: 5px;
                }
                li{
                    list-style: none;
                }
                li:before {
                    content: "+";
                    margin-right: 4px;
                }
                img{
                    margin: 15px 12%;
                    text-align: center;
                }
            }
            .category-content{
                height: auto;
                width: 100%;
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                .category__item{
                    padding: 1rem 0;
                    width: 100%;
                    height: 230px;
                    display: flex;
                    .__item-image{
                        width: 40%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .__item-info{
                        width: 60%;
                        padding: 0rem .5rem 1rem 1rem;
                        text-align: justify;
                        h3{
                            font-size: 20px;
                            font-weight: bold;
                            margin-bottom: .5rem;
                            color: #161212 !important;
                        }
                        span{
                            font-size: 14px;
                        }
                        p{
                            font-size: 16px;
                            margin-top: 1rem;
                            line-height: 1.5;
                        }
                    }
                }
            }
            .__like{
                width: 100%;
                height: 80px;
                margin-top: 5px;
                padding:57px 0 0 0;

            }
            .__product-comments{
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                .comment__action{
                    width: 100%;
                    height: 48%;
                    .__item-1{
                        display: flex;
                        margin-bottom: 2px;
                        height: 40%;
                        button{
                            background-color: #4267b2;
                            color: white;
                            border-radius: 2px;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            margin:2px 3px 0 0;
                            i{
                                margin-right: 2px;
                            }
                        }
                        input{
                            background-color: white;
                            color: red;
                            border-radius: 2px;
                            border: .1px solid #b7b7b7;
                            outline: none;
                            cursor: pointer;
                            
                        }
                        span{
                            //clip-path: polygon(100% 0, 100% 100%, 23% 100%, 22% 66%, 0 50%, 21% 36%, 21% 0);
                            
                        }
                    }
                    .__item-2{
                        height: 50%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        p{
                            font-weight: bold;
                            margin-left: .5rem;
                        }
                        .option__show{
                            display: flex;
                        }
                    }
                }
                .comment__detail{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    padding:1rem 0rem 1rem .5rem;
                    img{
                        height: 50px;
                        width: 7%;
                        margin-right: 3px;
                    }
                    form{
                        width: 93%;
                        height: 50px;
                        input{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
                a{
                    color: #4267b2;
                    margin-left: .5rem;
                    i{
                        margin-right: 4px;
                    }
                }
                hr{
                    border-top: .1px solid #b7b7b7;
                    width: 99%;
                    margin-left: .5rem;
                }
            }
        }
        .detail-product__side-bar{
            width: 30%;
            height: 1026px;
            margin: 1rem 0 1rem 3rem;
            .__news{
                width: 100%;
                height: 400px;
                display: flex;
                flex-direction: column;
                padding: 1rem 0rem;
                margin-bottom: 1rem;
                .__new-item{
                    width: 335px;
                    height: 30%;
                    margin-bottom: 1rem;
                    border: .1px solid #b7b7b7;
                    img{
                        width: 30px;
                        height: 25px;
                        margin: 10px 10px 0 0;
                    }
                    p{
                        margin-left: 10px;
                        line-height: 1.5;
                    }
                }
            }
            .__ads{
                width: 100%;
                height: 610px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}

footer{
    width: 100%;
    height: 250px;
    background-color: #80b435;
    .app-footer{
        width: 74%;
        height: 200px;
        margin: 0 13%;
        display: flex;
        .footer__item{
            width: 350px;
            height: 95%;
            margin: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 16px;
                font-weight: bold;
                margin: 1rem 0;
            }
            p{
                font-size: 14px;
                line-height: 1.8;
                margin-bottom: .5rem;
            }
            span{
                margin-bottom: .5rem;
            }
        }
    }
    .copyright{
        width: 100%;
        height: 50px;
        background-color: white;
        text-align: center;
        padding-top: .8rem;
    }
}